
.pokemon-item {

  background-color: transparent;
  cursor: pointer;

  &:hover {
    .inner {
      transform: rotateY(180deg);
    }
  }

  &.selected {
    .inner {
      border: 4px solid #f23836;
    }
  }

  .inner {
    position: relative;
    height: 280px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    background-color: #fff;
    border: 2px solid #000;
    margin-right: 30px;
    padding: 4px 24px 16px 24px;
    text-align: center;
    margin-bottom: 24px;
    width: 216px;
    border-bottom-left-radius: 30px;

    .front, .back {
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
    .front {
      h3 {
        font-family: pokemonFont;
      }
    }
    .back {
      transform: rotateY(180deg);

      .stats {
        display: flex;
        flex-direction: row;
        height: 150px;
        flex-wrap: wrap;
        justify-content: center;
        div {
          flex: 50%;
          font-weight: bold;
        }
      }
    }
  }



  button {
    padding: 8px 20px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #bbb;
    overflow: visible;
    font: bold 13px arial, helvetica, sans-serif;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
    transition: background-color .2s ease-out;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255,255,255, .9);

    .mat-icon {
      vertical-align: middle;
    }

    &.blue{
      background-color: #269CE9;
      border-color: #269CE9;
      &:hover{
        background-color: #70B9E8;
      }

      &:active{
        background: #269CE9;
      }
    }
  }

  .types {
    display: flex;
    column-gap: 5px;
    align-content: center;
    justify-content: center;
    margin-bottom: 16px;
    .type {
      width: 50px;
      border-radius: 25px;
      padding: 5px 10px;
      color: #fff;
      font-size: 14px;
      text-align: center;
      font-weight: 700;
      &.poison {
        background-color: #aa5799;
      }
      &.fire {
        background-color: #ff5433;
      }

      &.flying {
        background-color: #6992fd;
      }

      &.water {
        background-color: #2f9afd;
      }

      &.bug {
        background-color: #a7b723;
      }

      &.normal {
        background-color: #d8d8c8;
      }

      &.electric {
        background-color: #f5cc48;
      }

      &.ground {
        background-color: #d9c176;
      }

      &.fairy {
        background-color: #ffa7f9;
      }

      &.psychic {
        background-color: #ff5496;
      }

      &.fighting {
        background-color: #ba5747;
      }

      &.rock {
        background-color: #baaa68;
      }

      &.ice {
        background-color: #89dbf4;
      }

      &.ghost {
        background-color: #6666c1;
      }

      &.steel {
        background-color: #aaaaba;
      }
      &.dragon {
        background-color: #7765f1;
      }
      &.grass {
        background-color: #78cb57;
      }
    }
  }

}


@media only screen and (max-width: 600px) {
  .pokemon-item {

    .inner {
      width: 160px;
    }
  }
}
