@import "../../../scss/poke-types.scss";

.home {
  display: flex;
  flex-direction: column;
  margin: 30px 100px;

  .searchBar {
    width: 100%;

    input {
      width: 100%;
      border-radius: 15px;
      height: 28px;
      padding-left: 16px;
      font-weight: bold;
      box-sizing: border-box;
    }
  }

  .content {
    margin: 40px 100px 16px 100px;
    display: flex;
  }

  .filter {
    background-color: #fff;
    border: 1px solid #222224;
    border-radius: 15px;
    padding: 0px 16px 0 16px;
    width: 140px;
    margin-right: 60px;
    height: 585px;

    .filterItem {
      margin-bottom: 10px;
      label {
        position: relative;
        bottom: 1px;
        width: 50px;
        border-radius: 25px;
        padding: 5px 10px;
        color: #fff;
        font-size: 14px;
        text-align: center;
        font-weight: 700;
        cursor: pointer;
        &.type {
          &.poison { background-color: $poison; }
          &.fire { background-color: $fire; }
          &.flying { background-color: $flying; }
          &.water { background-color: $water; }
          &.bug { background-color: $bug; }
          &.normal { background-color: $normal; }
          &.electric { background-color: $electric; }
          &.ground { background-color: $ground; }
          &.fairy { background-color: $fairy; }
          &.psychic { background-color: $psychic; }
          &.fighting { background-color: $fighting; }
          &.rock { background-color: $rock; }
          &.ice { background-color: $ice; }
          &.ghost { background-color: $ghost; }
          &.steel { background-color: $steel; }
          &.dragon { background-color: $dragon; }
          &.grass { background-color: $grass; }
        }
      }
    }
  }

  .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 0.5em;
      height: 0.5em;
      background-color: #c3f0fa;
     }

     &::-webkit-scrollbar-thumb {
      background-color: #676767;
      border-radius: 3px;
     }
  }

}


@media only screen and (max-width: 600px) {
  .home {
    margin: 20px 0px 20px 15px;

    .content {
      margin: 10px 0px 16px 0px;
    }

    .filter {
      margin-right: 10px;
      width: 145px;

      h2 {
        margin: 5px 0px;
      }
    }
  }
}
