$poison: #aa5799;
$fire: #ff5433;
$flying: #6992fd;
$water: #2f9afd;
$bug: #a7b723;
$normal: #d8d8c8;
$electric: #f5cc48;
$ground: #d9c176;
$fairy: #ffa7f9;
$psychic: #ff5496;
$fighting: #ba5747;
$rock: #baaa68;
$ice: #89dbf4;
$ghost: #6666c1;
$steel: #aaaaba;
$dragon: #7765f1;
$grass: #78cb57;
